:root {
  font-size: 62.5%;
}

body {
  background-color: #173154;
  margin: 0;
  font-family: BlinkMacSystemFont, 'Montserrat', 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Global */

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}